body {
  margin: 0;
  background-color: #111;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

#ui {
  width: 20vw;
  padding: 1em;
  background-color: #1e1e1e;
  box-sizing: border-box;
}

#canvas-holder {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
